/* app/static/style.css */
body {
    margin: 0;
    padding: 0;
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

/* .user-message, .bot-message {
    display: inline-block;
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
} */

.user-message {
    background-color: #e6f2ff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    clear: both;
    float: left;
}

.bot-message {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    clear: both;
    float: right;
}
.user-message, .bot-message {
    clear: both;
}
